---
path: /Users/YOU/Dropbox/ShipTrack
tracking_urls:
  UPS: http://wwwapps.ups.com/WebTracking/track?trackNums=!!!
  Purolator: http://www.purolator.com/purolator/ship-track/tracking-summary.page?search=!!!
  Fedex: https://www.fedex.com/fedextrack/?tracknumbers=!!!&locale=en_CA&cntry_code=ca_english
  Canada Post: http://www.canadapost.ca/cpotools/apps/track/business/findByTrackNumber?trackingNumber=!!!&amp;LOCALE=en
  DHL: http://webtrack.dhlglobalmail.com/?mobile=&trackingnumber=!!!
